# Get from Project Settings -> API
PLATFORM_URL=your_project_url
PLATFORM_KEY=your_service_role_key

# OpenAI API key for embeddings
OPENAI_API_KEY=your_openai_api_key 

# App hostname
APP_HOSTNAME=your_app_hostname

# LangFuse monitoring
LANGFUSE_PUBLIC_KEY=your_langfuse_public_key
LANGFUSE_SECRET_KEY=your_langfuse_secret_key
LANGFUSE_HOST=your_langfuse_host
